body {
	text-align:center;
}

ul {
	padding-left:0;
	margin-left:0;
}

li {
	background:#58A;
	padding:3px 6px;
	margin:6px;
	display:inline;
	border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;
}

a.page_link {
	text-decoration:none;color:#fff;font-weight:bold;font-size: .7em;
}

#editor {
	clear: both;
	width: 95%;
	text-align: left;
	margin: 0 auto;
}

iframe {
	border:solid 2px #DDD;
	width: 100%;
}

.submit, ul.controls li {
	text-transform:none;
	background: #222; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	margin: 10px 0;
	font-size: 1em;
	font-family:"Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

.wym_section h2 {
	font-family:"Helvetica Neue Light", Helvetica, Arial, sans-serif;
	font-size: 1.9em;
}

h3.success {
	color: #00CC66;
}

h3.error {
	color: #FF9494;
}

#pw_form {
	margin: 0px auto;
	text-align: center;
	padding: 20px 0;
}

.link {
	position: relative;
	z-index: 99;
	margin: -1.7em 0 0 0;
	padding: 0 15px;
	display: inline;
	color: #ccc;
}

.link a:hover {
	color: #003FCF;
}

#back {
	float: left;
}

#logout {
	float: right;
}