.rounded {
	border-radius: 10px;
	-moz-border-radius: 10px;
}

.text-shadow {
	text-shadow: 5px 1px 10px #333;
}

.shadow {
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

body {
	font-family:"Helvetica Neue Light", Helvetica, Arial, sans-serif;
	color: #ccc;
	width: 100%;
	background: #ccc;
	background: url('../images/arches.png') repeat top center;
	background: #ccc;
	//background: url('../images/kids_boxing.png') no-repeat top center;
	//background-attachment: fixed;
	//background-size: 100%;
	margin: 0;
	font-size: 12pt;
	letter-spacing: -0.07em;
	margin: 0px auto;
}

#logo {
	height: 142px;
	width: 629px;
	position: relative;
	float: right;
	z-index: 98;
}

#header {
	background: url('../images/banner.png') no-repeat top center;
	width: 1200px;
	height: 440px;
	margin: 0px auto;
	margin-top: 5px;
	border: 6px solid #000;
}

#container {
	width: 1200px;
	border-top: 0;
	border-bottom: 0;
	padding: 3px 0;
	overflow: hidden;
	line-height: 1.3em;
	background: #005F3B;
	//background: url('../images/background-pattern.png') repeat top left;
	margin: 0px auto;
	border: 6px solid #000;
}

#footer {
	width: 1200px;
	border: 6px solid #000;
	border-top:0; 
	margin: 0px auto;
	margin-bottom: 20px;
	text-align: center;
	padding: 10px 0 8px 0;
	font-size: 1em;
	font-family: Palatino, times;
	background: #003FCF;
	color: #ccc;
}

.text {
	margin: 0px auto;
	width: 820px;
	min-height: 30px;
	margin: 40px auto;
	padding: 15px 8px 10px 8px;
	-moz-box-shadow: 4px 4px 0 #000;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;	
	color: #000;
	background: #fafafa;
	border: 1px solid #fafafa;
}

.text p {
	font-family: Palatino, times;
}

.text_footer {
	text-align: right;
}

.bubble {
	background: url('../images/bubble.png') no-repeat top center;
	height: 90px;
	width: 91px;
	margin: -25px 0 0 -120px;
	padding: 20px 0;
	position: absolute;
	z-index: 4;
	font-family: times;
	color: #000;
	text-align: top;
}

.bubble.linked:hover {
	background: url('../images/bubble_red.png') no-repeat top center;
	cursor: pointer;
}

.bubble.linked a:hover {
	text-decoration: underline;
	color: #000;
}

.small_text {
	font-family: times;
	font-size: .8em;
	color: #ccc;
	text-decoration: none;
}

img {
	border: none;
}

a:link, a:visited {
	text-decoration: none;
	color: #ccc;
	border: none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
	border: none;
}

h1, h2 {
	color: #EA1D25;
	font-family: 'Permanent Marker', "Helvetica Neue Light", Helvetica, cursive;
	text-shadow: 1px 1px 0px #ccc;
}

h3 {
	margin: 0;
	text-shadow: 1px 1px 0px #ccc;
}

.text h3 a, .text a {
	color: #003FCF;
}

.text h3 a:hover {
	text-decoration: underline;
}

h2 {
	color: #000;
	font-size: 1.2em;
	line-height: .8em;
	text-align: center;
}

h2.small {
	padding-top: 3px;
	font-size: 1em;
}

.clearfix {
	clear: both;
}

.go {
	padding: 0 0 0 10px;
	width: 20px;
	height: 20px;
	display: inline;
	background: url('../images/go.png') no-repeat top center;
}

.go:hover {
	width: 20px;
	height: 20px;
	display: inline;
	background: url('../images/go_hover.png') no-repeat top center;
}