body {
	color: #ccc;
	width: 100%;
	background: url('../images/cathedral_closeup_wide.jpg') no-repeat top center;
	background-attachment: fixed;
	background-size: 100%;
	font-size: 12pt;
	letter-spacing: -0.07em;
	margin: 0;
	font-family: Palatino, times;
}

#logo {
	height: 142px;
	width: 629px;
	position: relative;
	top: -10px;
	left: -5px;
	z-index: 98;
	float: right;
}

#header {
	background: transparent url('../images/coarkboard.png') repeat top center;	
	width: 1200px;
	height: 440px;
	border: 6px solid #000;
	border-bottom: 0;
	margin: 15px auto;
	margin-bottom: 0;
}

#cover {
	background: url('../images/pattern_black.png') left top repeat;
	position: relative;
	padding-top: 10px;
	margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 110%;
  width: 100%;
  overflow: hidden;
  min-height: 992px;
  min-width: 744px;
}

body > #container {
  position: relative;
  z-index: 1;
}

#container {
	width: 1200px;
	padding: 3px 0;
	line-height: 1.3em;
	margin: 0px auto;
	border: 6px solid #000;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	background: #005F3B;
}

#footer {
	width: 1200px;
	margin: 0px auto;
	margin-bottom: 20px;
	text-align: center;
	padding: 10px 0 8px 0;
	font-size: 1em;
	font-family: Palatino, times;
	background: #003FCF;
	color: #ccc;
	border: 6px solid #000;
	border-top: 0;
}

.text {
	margin: 0px auto;
	width: 800px;
	min-height: 30px;
	margin: 40px auto;
	padding: 10px 8px 10px 8px;
	-moz-box-shadow: 4px 4px 0 #000;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 5px 5px 0 #000;	
	color: #000;
	background: #fafafa;
}

.text_footer {
	text-align: right;
}

.bubble {
	background: url('../images/bubble.png') no-repeat top center;
	height: 91px;
	width: 91px;
	padding: 20px 0;
	position: absolute;
	z-index: 4;
	margin: -12px 0 0 -120px;
	font-family: times;
	color: #000;
	text-align: top;
}

.bubble.linked:hover {
	background: url('../images/bubble_red.png') no-repeat top center;
	cursor: pointer;
}

.bubble.linked a:hover {
	text-decoration: underline;
	color: #000;
}

.small_text {
	font-family: times;
	font-size: .8em;
	color: #ccc;
	text-decoration: none;
}

img {
	border: none;
}

a:link, a:visited {
	text-decoration: none;
	color: #ccc;
	border: none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
	border: none;
}

h1, h2 {
	font-weight: normal;
	color: #EA1D25;
	font-family: 'Permanent Marker', "Helvetica Neue Light", Helvetica, cursive;
	text-shadow: 1px 1px 0px #bbb;
}

h1 {
	color: #003FCF;
}

h3 {
	margin: 0;
	text-shadow: 1px 1px 0px #bbb;
	font-family:"Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

.text h3 a, .text a {
	color: #003FCF;
}

.text h3 a:hover {
	text-decoration: underline;
}

h2 {
	color: #000;
	font-size: 1.2em;
	line-height: .8em;
	text-align: center;
}

h2.small {
	padding-top: 3px;
	font-size: 1em;
}

.clearfix {
	clear: both;
}

.clearfix {
  zoom: 1;/* for IE < 8 */
}

.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.go {
	padding: 0 0 0 10px;
	width: 20px;
	height: 20px;
	display: inline;
	background: url('../images/go.png') no-repeat top center;
}

input[type="password"], input[type="search"], 
input[type="text"], input[type="textbox"], 
input[type="textarea"], textarea, input[type="email"] {
	border: 1px #C7C7C7 solid;
	color: #333;
	cursor: pointer;
	padding: 0.1em 0.4em 0.1em 0.4em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: text;
}