#nav {
	top: 100px;
}

#nav_home {
	top: -90px;
	left: 60px;
}

#nav_kids {
	top: 70px;
	left: 48px;
	width: 184px;
}

#nav_adults {
	top: -20px;
	left: 130px;
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg);
	-ms-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	transform: rotate(-5deg);
}

#nav_community {
	top: 109px;
	left: -20px;
	width: 200px;
}