
#header {
	background: url('../images/banner_bg.png') no-repeat top center;
	//background: url('../images/coark_texture.png') repeat top center;
	width: 1200px;
	height: 244px;
}

#title {	
	position: relative;
	z-index: 4;
	left: 100px;
	width: 350px;
	text-align: center;
}

#title_container {
	position: relative;
	width: 600px;
	top: -140px;
	text-align: center;
}

#title_container h1 {
	position: static;
	margin: 10px auto;
	background: #fafafa;
	-moz-box-shadow: 5px 5px 0 #000;
	-webkit-box-shadow: 5px 5px 0 #000;
	box-shadow: 5px 5px 0 #000;
}

#title_container img {
	margin: 0 0 -10px 0;
}

/*
*/

.breadcrumb {
	padding-left: 10px;
	font-size: 1em;
	font-family: Palatino, times;
}

.text {
	padding: 10px 7px;
}

.text h3 {
	padding: 15px 0 0 0;
}

.text h3:first-child {
	padding-top: 0;
}

/*
*/