#note {
  position: relative;
  top: 50px;
  padding: 5px 2px;
  font-size: 1.1em;
  line-height: 1.2em;
  font-family: 'Rock Salt';
  width: 188px;
  height: 130px;
  overflow: hidden;
  left: 200px;
  text-align: center;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  color: #333; }

.link h2 {
  padding: 0 13px 5px 0;
  margin-right: 1px;
  background: transparent url('../images/go.png') no-repeat center right; }
